header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}


.title {
    color: white;
    font-size: 50px;
}

.left__span {
    color: rgb(121, 0, 235);
    text-shadow: 0 0 30px purple;
}
.subHeader {
    color: grey;
    font-size: 35px;
}

.sub__span {
    color: rgb(194, 16, 16);
    text-shadow: 0 0 30px rgb(226, 0, 57);
}
