body, #root {
    height: 100svh;
    width: 100%;
    background: linear-gradient(228deg, #700A65 19.81%, rgb(17, 1, 15) 97.03%, rgb(17, 1, 15) 103.2%, rgb(4, 0, 4) 108.25%);
}
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}